// variables

$mobile-html-font-size: 37.5%;
$tablet-html-font-size: 50%;
$desktop-html-font-size: 62.5%;
$font-size-default: 2rem;

@font-face {
  font-family: "dPad";
  src: url(./TrulyMadlyDpad-a72o.ttf);
}

@mixin grid-item-define($column-start, $column-end, $row-start, $row-end) {
  grid-column-start: $column-start;
  grid-column-end: $column-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  //   font-size: $desktop-html-font-size;
  //   font-size: $tablet-html-font-size;

  scroll-behavior: smooth;
  max-height: 100vh;
  font-size: $mobile-html-font-size;
}

body {
  margin: 2% 5%;
  font-family: "dPad";
  // font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: $font-size-default;
  color: white;
  line-height: 1.7;
  // background-color: #02703d;
  background-color: black;
}

.grid-container {
  margin: auto auto;
  display: grid;
  //   grid-template-columns: 10% 10% 80%;
  //   grid-template-rows: 5% 20% 10% 20% 20% 10% 15%;
  //   grid-template-columns: 10% 10% 65%;
  grid-template-columns: 10% 10% 40% 30%;
  grid-template-rows: auto auto auto 0.25fr auto auto auto 0.5fr;

  grid-gap: 7px;
  max-width: 90vw;
  max-height: 100vh;
}

.nav {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: flex-end;
}

.btn__system {
  margin: 0% 1%;
}

.label {
  // font-weight: 700;
  font-size: 2.5rem;
  color: purple;
}

.value {
  color: white;
}

.playerInfoArea {
  @include grid-item-define(1, 3, 2, 4);
}

.dealerLabel {
  color: green;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.dealerField {
  @include grid-item-define(3, -1, 2, 3);
  max-width: 50%;
}

.dealerHandInfo {
  @include grid-item-define(3, -1, 3, 4);
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dealerTotalField {
  color: yellow;
  // display: inline-block;
  margin: 0% 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dealerTotal {
  font-size: 3rem;
  // margin-left: 10px;
  // background: rgb(13, 69, 47, 0.5);
}

.dealerMessageField {
  display: inline-block;
  background: red;
  // padding: 0.5rem 3rem;
  padding: 0.25rem 2rem;
  display: flex;
  align-items: center;
}

.dealerCardPos {
}

.middleArea {
  display: flex;
  justify-content: space-around;

  background: linear-gradient(
    45deg,
    transparent 25%,
    gray 50%,
    transparent 75%
  );

  @include grid-item-define(1, -1, 4, 5);
}

.btn__sideBetDecide {
  font-family: dPad;
  color: white;
  font-weight: 700;
  padding: 1rem;
}

.btn__acceptSideBet {
  background-color: green;
}

.btn__declineSideBet {
  background-color: red;
}

.playerCurrentHandArea {
  @include grid-item-define(1, 2, 6, 7);
}

.playerField {
  @include grid-item-define(2, -1, 6, 7);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 50% 50%;
}

.player h1 {
  display: inline-block;
}

.dealerCardArea {
  position: relative;
  left: 0rem;
}

.playerCardArea {
  @include grid-item-define(1, 2, 1, -1);
  position: relative;
  left: 0rem;
}

.playerTotalField {
  @include grid-item-define(2, -1, 1, 2);
  text-align: right;
  // display: inline-block;
  margin: 0% 10%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.playerLabel {
  font-size: 2.5rem;
  color: blue;
  margin-right: 1rem;
}

.playerHandNum {
  color: yellow;
  margin-right: 2rem;
  font-size: 2.5rem;
}

.playerTotal {
  font-size: 3rem;
}

.playerMessageField {
  @include grid-item-define(2, -1, 2, -1);
  background: yellow;
  padding: 0.25rem 2rem;
  display: flex;
  align-items: center;
}

.playerMessageText {
  color: black;
}

.playerSplitArea {
  @include grid-item-define(1, -1, 5, 6);
  display: flex;
  justify-content: space-between;
  border-color: purple;
  //Javascript: justify-content: center for single split hand, space-between for multiple hands
}

.playerHandInfo {
  @include grid-item-define(2, -1, 7, 8);
  display: flex;
  justify-content: flex-start;
}

.playerActionArea {
  @include grid-item-define(1, -1, 8, -1);
  display: flex;
  justify-content: space-between;
}

.surrenderBtnContainer {
  @include grid-item-define(4, -1, 6, 7);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splitStageField {
  display: inline-block;

  border-width: 2px;
  border-style: double;
  border-color: purple;
  padding: 1rem;
  text-align: center;
}

.splitStageLabel {
  font-weight: 700;
  color: orange;
  text-decoration: underline;
}

.splitStageHandNum {
  // font-size: 20px;
  color: yellow;
  text-decoration: none;
  margin-left: 1rem;
}

.splitStageCards {
  border-width: 2px;
  border-color: blue;
  border-style: double;
  padding: 0rem 1rem;
}

.splitStageTotal {
  color: yellow;
}

.splitStage1Result {
  text-align: center;
  padding: 0rem 1rem;
  background-color: red;
}

.splitStage2Result {
  text-align: center;
  padding: 0rem 1rem;
  background-color: orange;
}

.splitStage3Result {
  text-align: center;
  padding: 0rem 1rem;
  background-color: yellow;
  color: black;
}

.btn {
  display: inline-block;
}

.btn__action {
  // height: 1rem;
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;

  background-color: transparent;
  background-repeat: no-repeat;
  border-width: 5px;
  border-color: blue;
  border-style: double;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btn__doubleDown {
  border-color: orange;
  color: orange;
}

.btn__hit {
  border-color: red;
  color: red;
}

.btn__stand {
  border-color: green;
  color: green;
  font-size: 40px;
}

.btn__split {
  border-color: blue;
  color: blue;
}

.btn__surrender {
  // padding: 0.25rem, 0.25rem;
  border-color: gray;
  color: gray;
}

ul ul {
  position: absolute;
  top: 0rem;
  left: 2.5rem;
}

ul {
  max-width: 75%;
  list-style-type: none;
}

li {
  max-width: 75%;
}

.dealerCardPos {
}

.card {
  display: inline-block;
  width: 10rem;
}

@media screen and (min-width: 700px) {
  html {
    //   font-size: $desktop-html-font-size;
    //   font-size: $tablet-html-font-size;
    font-size: 8px;
    // display: flex;
  }

  body {
    margin: 1% auto;
    justify-content: center;
    align-items: center;
    // font-family: "Tahoma", sans-serif;
    font-weight: 400;
    // font-size: 2.5rem;
    // font-size: 40px;
    color: white;
    line-height: 1.7;
  }

  .grid-container {
    padding: 0px 10px;
    // grid-template-columns: 30% 50% 20%;
    grid-template-columns: 180px 300px 120px;
    grid-template-rows: 40px 135px 55px 135px 65px 155px;

    grid-gap: 7px;
    // max-height: 95vh;
    width: 600px;
    height: 605px;

    // min-width: 800px;
    // max-height: 600px;
  }

  // .nav {
  //   margin-right: 10px;
  // }

  .btn__system {
    font-size: 16px;
    padding: 2px;
  }

  .playerInfoArea {
    @include grid-item-define(1, 2, 2, 3);
    border-width: 2px;
    border-style: double;
    border-color: purple;
    padding-left: 5px;
  }

  .label {
    font-weight: 700;
    font-size: 20px;
  }

  .dealerField {
    @include grid-item-define(2, 3, 2, 3);
  }

  .dealerHandInfo {
    @include grid-item-define(3, 4, 2, 3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .dealerTotalField {
    flex-direction: row;
  }

  .dealerTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .dealerMessageField {
    padding: 2px 10px;
  }

  .middleArea {
    @include grid-item-define(1, -1, 3, 4);
  }

  .btn__sideBetDecide {
    font-size: 30px;
    min-width: 70px;
  }

  // .btn__sideBetDecide {
  //   font-size: 16px;
  //   padding: 1% 1%;
  // }

  .playerCurrentHandArea {
    @include grid-item-define(1, 2, 4, 4);
  }

  .playerHandNum {
    font-size: 20px;
  }

  .playerField {
    @include grid-item-define(2, 3, 4, 5);
  }

  .playerHandInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .playerTotal {
    display: flex;
    align-items: center;
    justify-content: center;
    // margin-left: 10px;
    // background: rgb(13, 69, 47, 0.5);
    background: blue;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .playerMessageField {
    text-align: right;
    display: inline-block;
    padding: 2px 10px;
  }

  .playerActionArea {
    @include grid-item-define(1, -1, 5, 6);
    flex-direction: row;
    justify-content: space-around;
  }

  .surrenderBtnContainer {
    @include grid-item-define(1, 2, 4, 5);
  }

  .btn__action {
    // padding: 1rem 0.5rem;
    // font-size: 2rem;
    padding: 10px;
    font-size: 30px;
    min-width: 140px;
    color: white;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .btn__surrender {
    width: 140px;
    height: 65px;
  }

  .playerHandInfo {
    @include grid-item-define(3, 4, 4, 5);
  }

  .playerSplitArea {
    @include grid-item-define(1, -1, 6, 7);
    flex-direction: row;
    justify-content: space-around;
  }

  .splitStageField {
    // border-width: 2px;
    // border-style: double;
    // border-color: purple;
    // padding: 10px;
    // text-align: center;
  }

  .splitStageLabel {
    // font-weight: 700;
    // color: orange;
    // text-decoration: underline;
  }

  .splitStageHandNum {
    font-size: 20px;
    color: yellow;
    text-decoration: none;
    margin-left: 1px;
  }

  .splitStageCards {
    border-width: 2px;
    border-color: blue;
    border-style: double;
    padding: 0px 5px;
  }

  .splitStageTotal {
    color: yellow;
  }

  .splitStage1Result {
    text-align: center;
    padding: 0px 1px;
    background-color: red;
  }

  .splitStage2Result {
    text-align: center;
    padding: 0px 1px;
    background-color: orange;
  }

  .splitStage3Result {
    text-align: center;
    padding: 0px 1px;
    background-color: yellow;
    color: black;
  }

  .card {
    display: inline-block;
    width: 90px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    //   font-size: $desktop-html-font-size;
    //   font-size: $tablet-html-font-size;
    // font-size: $desktop-html-font-size;
    font-size: 11px;
    // max-width: 80vw;
    display: flex;
  }

  body {
    margin: 1% auto;
    // font-family: "Tahoma", sans-serif;
    font-weight: 400;
    // font-size: 1.6rem;
    color: white;
    line-height: 1.7;
    background-color: black;

    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .grid-container {
    padding: 0px 10px;
    // grid-template-columns: 30% 50% 20%;
    grid-template-columns: 180px 300px 120px;
    grid-template-rows: 40px 135px 65px 135px 65px 205px;

    grid-gap: 7px;
    // max-height: 95vh;
    width: 600px;
    height: 705px;

    // min-width: 800px;
    // max-height: 600px;
  }

  .btn__surrender {
    width: 140px;
    height: 65px;
  }

  .card {
    display: inline-block;
    width: 90px;
  }
}

//Screens that are > 400px
@media screen and (min-width: 480px) and (max-height: 420px) {
  html {
    //   font-size: $desktop-html-font-size;
    //   font-size: $tablet-html-font-size;
    font-size: $mobile-html-font-size;
    scroll-behavior: smooth;
    max-height: 100vh;
  }
  body {
    margin: 2% 2%;
    // display: flex;
    // justify-content: center;
  }

  .grid-container {
    grid-template-columns: auto auto 0.5fr auto 5%;
    // grid-template-rows: auto auto auto 0.25fr auto auto;
    // grid-template-rows: 5% 5% 30% 20% 30%;
    grid-template-rows: 7% 7% auto auto auto;

    grid-gap: 7px;
    max-height: 95vh;
  }

  .nav {
    @include grid-item-define(1, 3, 1, 2);
    display: flex;
    justify-content: flex-start;
  }

  .playerInfoArea {
    @include grid-item-define(1, 3, 2, 3);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .bankArea {
    margin-right: 1.5rem;
  }

  .dealerField {
    // @include grid-item-define(1, 3, 2, 3);
    @include grid-item-define(1, 2, 3, 4);
  }

  .dealerHandInfo {
    // @include grid-item-define(1, 3, 3, 4);
    @include grid-item-define(2, 3, 3, 4);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .middleArea {
    @include grid-item-define(1, 3, 4, 5);
    align-items: center;
    margin-bottom: 1.5rem;
  }

  // .playerCurrentHandArea {
  //   @include grid-item-define(1, 2, 4, 6);
  // }

  .playerHandInfo {
    // @include grid-item-define(2, 3, 5, 6);
    @include grid-item-define(2, 3, 5, -1);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
  }

  .playerField {
    @include grid-item-define(1, 2, 5, -1);
  }

  .playerMessageField {
    margin-right: 1rem;
  }

  .playerSplitArea {
    @include grid-item-define(3, 4, 1, -1);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .playerActionArea {
    @include grid-item-define(4, 5, 1, -1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .surrenderBtnContainer {
    @include grid-item-define(5, -1, 1, -1);
  }

  .btn__action {
    width: 20rem;
    padding: 2rem 2rem;
  }

  .btn__surrender {
    width: 3rem;
    height: 100%;
    // writing-mode: vertical-rl;
    // text-orientation: upright;
    overflow-wrap: break-word;
    text-align: center;
  }
}

@media screen and (min-width: 700px) and (max-height: 420px) {
  .grid-container {
    min-width: 650px;
    grid-template-columns: auto auto auto auto 5%;
    grid-template-rows: 7% 7% 100px 75px 100px;
  }
  .card {
    width: 8rem;
  }

  .middleArea {
    // @include grid-item-define(1, 4, 4, 5);
    // z-index: 1;
  }

  .btn__action {
    // padding: 1rem 0.5rem;
    // font-size: 2rem;
    // padding: 10px;
    font-size: 30px;
    // width: 65px;
    // min-width: 0rem;
    // height: 20%;
    // color: white;

    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .surrenderBtnContainer {
    @include grid-item-define(3, 4, 5, 6);
  }

  .btn__surrender {
    width: 20rem;
    height: 50%;
    // height: 100%;
  }

  .playerSplitArea {
    @include grid-item-define(3, 4, 1, 5);
  }

  .splitStageField {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
