@font-face {
  font-family: "dPad";
  src: url(./TrulyMadlyDpad-a72o.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  max-height: 100vh;
  font-size: 37.5%;
}

body {
  margin: 2% 5%;
  font-family: "dPad";
  font-weight: 400;
  font-size: 2rem;
  color: white;
  line-height: 1.7;
  background-color: black;
}

.grid-container {
  margin: auto auto;
  display: grid;
  grid-template-columns: 10% 10% 40% 30%;
  grid-template-rows: auto auto auto 0.25fr auto auto auto 0.5fr;
  grid-gap: 7px;
  max-height: 100vh;
}

.grid__system-btn-container {
  grid-column-start: 1;
  grid-column-end: -1;
  display: flex;
  justify-content: flex-end;
}

.btn-system {
  margin: 0% 1%;
}

.round-info__label {
  font-size: 2.5rem;
  color: purple;
}

.round-info__value {
  color: white;
}

.round-info__double-down-marker {
  margin-left: 5px;
  color: red;
  font-weight: 700;
  font-size: 3rem;
  display: none;
}

.grid__round-info {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.dealer-total__label {
  color: green;
  font-size: 2.5rem;
  margin-right: 1rem;
}

.grid__dealer-cards {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: 3;
  max-width: 50%;
}

.grid__dealer-hand-info {
  grid-column-start: 3;
  grid-column-end: -1;
  grid-row-start: 3;
  grid-row-end: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dealer-total__container {
  color: yellow;
  margin: 0% 10%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.dealer-total__value {
  font-size: 3rem;
}

.dealer-message__container {
  padding: 0.25rem 2rem;
  display: inline-flex;
  align-items: center;
}

.grid__game-message {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(45deg, transparent 25%, gray 50%, transparent 75%);
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 4;
  grid-row-end: 5;
}

.btn-side-bet {
  font-family: dPad;
  color: white;
  font-weight: 700;
  padding: 1rem;
}

.btn-side-bet__even-money-accept {
  display: none;
  background-color: green;
}

.btn-side-bet__even-money-decline {
  display: none;
  background-color: red;
}

.grid__player-cards {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 6;
  grid-row-end: 7;
}

.game-message__text {
  display: inline-block;
}

.dealer-cards__container,
.player-cards__container {
  position: relative;
  left: 0rem;
}

.player-total__container {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: right;
  margin: 0% 10%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.player-total__label {
  font-size: 2.5rem;
  color: blue;
  margin-right: 1rem;
}

.player-total__hand-num {
  color: yellow;
  margin-right: 2rem;
  font-size: 2.5rem;
}

.player-total__value {
  font-size: 3rem;
}

.player-message__container {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 2;
  grid-row-end: -1;
  padding: 0.25rem 2rem;
  display: inline-flex;
  align-items: center;
}

.player-message__text {
  color: white;
}

.grid__split-stages-container {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  justify-content: space-between;
  border-color: purple;
}

.grid__player-hand-info {
  grid-column-start: 2;
  grid-column-end: -1;
  grid-row-start: 7;
  grid-row-end: 8;
  display: flex;
  justify-content: flex-start;
}

.grid__player-actions {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 8;
  grid-row-end: -1;
  display: flex;
  justify-content: space-between;
}

.grid__surrender-container {
  grid-column-start: 4;
  grid-column-end: -1;
  grid-row-start: 6;
  grid-row-end: 7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.split-stage {
  display: inline-block;
  border-width: 2px;
  border-style: double;
  border-color: purple;
  padding: 1rem;
  text-align: center;
}

.split-stage-1__container,
.split-stage-2__container,
.split-stage-3__container {
  display: none;
}

.split-stage__label {
  font-weight: 700;
  color: orange;
  text-decoration: underline;
}

.split-stage__hand-num {
  color: yellow;
  text-decoration: none;
  margin-left: 1rem;
}

.split-stage__cards {
  border-width: 2px;
  border-color: blue;
  border-style: double;
  padding: 0rem 1rem;
}

.split-stage__total {
  color: yellow;
}

.split-stage__result {
  text-align: center;
  padding: 0rem 1rem;
}

.--natural {
  background: yellow;
  color: black;
}

.--bust {
  background: red;
  color: white;
}

.--charlie {
  background: orange;
  color: white;
}

.--stand {
  background: gray;
  color: white;
}

.--surrender {
  background: gray;
  color: white;
}

.--dealerHit {
  background: gray;
  color: white;
}

.btn {
  display: inline-block;
}
.btn__answer, .btn__trivia-difficulty {
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-basic-bet-modal__chip {
  border-radius: 50%;
  padding: 1.5rem;
  text-align: center;
  border-style: dashed;
  font-weight: 700;
}
.btn-basic-bet-modal__chip:disabled {
  border-color: gray;
  color: gray;
  background-color: black;
}
.btn-basic-bet-modal__1 {
  border-color: white;
  background-color: #4c4c4c;
  color: white;
}
.btn-basic-bet-modal__5 {
  border-color: white;
  background-color: #2cbbc1;
  color: white;
}
.btn-basic-bet-modal__10 {
  border-color: white;
  background-color: #ce3501;
  color: white;
}
.btn-basic-bet-modal__25 {
  border-color: white;
  background-color: #019934;
  color: white;
}
.btn-basic-bet-modal__100 {
  border-color: white;
  background-color: #663398;
  color: white;
}
.btn-basic-bet-modal__500 {
  border-color: white;
  background-color: #d88206;
  color: white;
}
.btn-basic-bet-modal__action {
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-basic-bet-modal__action:disabled {
  background: rgba(76, 76, 76, 0.5);
  color: white;
}
.btn-side-bet-modal__chip {
  border-radius: 50%;
  padding: 1.5rem;
  text-align: center;
  border-style: dashed;
  font-weight: 700;
}
.btn-side-bet-modal__chip:disabled {
  border-color: gray;
  color: gray;
  background-color: black;
}
.btn-side-bet-modal__1 {
  border-color: white;
  background-color: #4c4c4c;
  color: white;
}
.btn-side-bet-modal__5 {
  border-color: white;
  background-color: #2cbbc1;
  color: white;
}
.btn-side-bet-modal__10 {
  border-color: white;
  background-color: #ce3501;
  color: white;
}
.btn-side-bet-modal__25 {
  border-color: white;
  background-color: #019934;
  color: white;
}
.btn-side-bet-modal__100 {
  border-color: white;
  background-color: #663398;
  color: white;
}
.btn-side-bet-modal__500 {
  border-color: white;
  background-color: #d88206;
  color: white;
}
.btn-side-bet-modal__action {
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-side-bet-modal__action:disabled {
  background: rgba(76, 76, 76, 0.5);
  color: white;
}
.btn-generic-modal__action {
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.btn-summary-modal__action {
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

#incorrectAnswer {
  background-color: red !important;
}

.correctAnswer--display {
  background-color: green !important;
}

.trivia__credits-modifier {
  display: none;
}
.trivia__credits-modifier--minus-1 {
  color: red;
}
.trivia__credits-modifier--plus-1, .trivia__credits-modifier--plus-5 {
  color: green;
}

.btn-system__new-game {
  display: inline-block;
}

.btn-system__check-side-bet-outcome {
  display: none;
}

.btn-action {
  min-width: 3rem;
  padding: 1rem 3rem;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border-width: 5px;
  border-color: blue;
  border-style: double;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.btn-action:disabled {
  border-color: gray;
  color: gray;
}

.btn-action__doubleDown {
  border-color: orange;
  color: orange;
}

.btn-action__hit {
  border-color: red;
  color: red;
}

.btn-action__stand {
  border-color: green;
  color: green;
  font-size: 40px;
}

.btn-action__split {
  border-color: blue;
  color: blue;
}

.btn-action__surrender {
  border-color: gray;
  color: gray;
  text-align: center;
}

ul ul {
  position: absolute;
  top: 0rem;
  left: 2.5rem;
}

ul {
  max-width: 75%;
  list-style-type: none;
}

li {
  max-width: 75%;
}

.card {
  display: inline-block;
  width: 10rem;
}

.side-bet-modal__active-bet {
  background-color: blue;
}

.basic-bet-modal__container,
.side-bet-modal__container,
.generic-modal__container,
.summary-modal__container,
.winning-hand-modal__container,
.trivia-modal__container {
  background-color: black;
  border-style: double;
  border-color: purple;
  padding: 1rem;
}
.basic-bet-modal__title,
.side-bet-modal__title,
.generic-modal__title,
.summary-modal__title,
.winning-hand-modal__title,
.trivia-modal__title {
  text-align: center !important;
}

.display-none {
  display: none !important;
}

.basic-bet-modal__info-container {
  display: flex;
  justify-content: space-around;
}
.basic-bet-modal__bet-btn-container, .basic-bet-modal__action-btn-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
}
.basic-bet-modal__bet-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: purple;
  width: 75px;
  height: 75px;
}
.basic-bet-modal__bet-value {
  text-align: center;
}
.basic-bet-modal__bank-label {
  color: purple;
}

.side-bet-modal__info-container {
  display: flex;
  justify-content: space-around;
}
.side-bet-modal__total-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: purple;
  width: 75px;
  height: 75px;
}
.side-bet-modal__side-bet-div {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
  padding: 5px 0px;
}
.side-bet-modal__side-bet-value-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: purple;
  width: 50px;
  height: 50px;
}
.side-bet-modal__chip-container, .side-bet-modal__action-btn-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
}
.side-bet-modal__bank-label {
  color: purple;
}

.generic-modal__title {
  display: flex;
  justify-content: center;
}
.generic-modal__main--base-outcome-modal {
  text-align: center;
}
.generic-modal__container {
  display: flex;
  flex-direction: column;
}
.generic-modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.base-round-outcome-modal__single-hand-outcome-heading--win, .base-round-outcome-modal__split-hand-outcome--win {
  color: green;
}
.base-round-outcome-modal__single-hand-outcome-heading--lose, .base-round-outcome-modal__split-hand-outcome--lose {
  color: red;
}
.base-round-outcome-modal__single-hand-outcome-heading--natural, .base-round-outcome-modal__split-hand-outcome--natural {
  color: yellow;
}
.base-round-outcome-modal__single-hand-outcome-heading--push, .base-round-outcome-modal__single-hand-outcome-heading--surrender, .base-round-outcome-modal__split-hand-outcome--push, .base-round-outcome-modal__split-hand-outcome--surrender {
  color: gray;
}
.base-round-outcome-modal__single-hand-winnings-label, .base-round-outcome-modal__split-hand-winnings-label {
  color: yellow;
}
.base-round-outcome-modal__split-hand-handnum-label {
  color: purple;
}
.base-round-outcome-modal__split-hand-outcome-div > span {
  margin-right: 10px;
}

.summary-modal__name-label {
  font-size: 3rem;
  color: purple;
}
.summary-modal__side-bet-div {
  margin-bottom: 10px;
}
.summary-modal__side-bet-div > span, .summary-modal__side-bet-div > div {
  margin-right: 20px;
}
.summary-modal__outcome {
  display: inline-block;
  padding: 3px 10px;
}
.summary-modal__outcome--win {
  background-color: green;
  color: white;
}
.summary-modal__outcome--lose {
  background-color: red;
  color: white;
}
.summary-modal__outcome--push {
  background-color: gray;
  color: white;
}
.summary-modal__winnings-label, .summary-modal__total-winnings-label {
  color: yellow;
}
.summary-modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.trivia-modal__credits-container, .trivia-modal__trivia-question-container, .trivia-modal__answer-correct-container, .trivia-modal__answer-correct {
  text-align: center !important;
}
.trivia-modal__label {
  color: purple;
}
.trivia-modal__title--correctAnswer {
  color: green !important;
}
.trivia-modal__title--incorrectAnswer {
  color: red !important;
}
.trivia-modal__answer-table {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas: "item1 item2" "item3 item4";
}
.trivia-modal__answer-table-item-a {
  grid-area: item1;
}
.trivia-modal__answer-table-item-b {
  grid-area: item2;
}
.trivia-modal__answer-table-item-c {
  grid-area: item3;
}
.trivia-modal__answer-table-item-d {
  grid-area: item4;
}
.trivia-modal__label-container, .trivia-modal__trivia-question-container {
  margin: auto;
}
.trivia-modal__label-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.trivia-modal__trivia-question-container {
  width: 100%;
}
.trivia-modal__multiple-choice-btn-container, .trivia-modal__boolean-choice-btn-container, .trivia-modal__difficulty-btn-container {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0rem;
}

.two-section-modal {
  display: grid;
  grid-template-rows: 100px auto;
}

.three-section-modal {
  display: grid;
  grid-template-rows: 100px auto 100px;
}

.modal__main {
  overflow-y: auto;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 8px;
  }

  body {
    margin: 1% auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  .grid-container {
    padding: 0px 10px;
    grid-template-columns: 180px 300px 120px;
    grid-template-rows: 40px 135px 55px 135px 65px 155px;
    width: 600px;
    height: 605px;
  }

  .btn-system {
    font-size: 16px;
    padding: 2px;
  }

  .grid__round-info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    border-width: 2px;
    border-style: double;
    border-color: purple;
    padding-left: 5px;
  }

  .round-info__label {
    font-weight: 700;
    font-size: 20px;
  }

  .grid__dealer-cards {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid__dealer-hand-info {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    flex-direction: column;
    justify-content: space-around;
  }

  .dealer-total__value {
    display: flex;
    align-items: center;
    justify-content: center;
    background: green;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .dealer-message__container {
    padding: 2px 10px;
  }

  .grid__game-message {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .btn-side-bet {
    font-size: 30px;
    min-width: 70px;
  }

  .player-total__hand-num {
    font-size: 20px;
  }

  .grid__player-cards {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .grid__player-hand-info {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .player-total__value {
    display: flex;
    align-items: center;
    justify-content: center;
    background: blue;
    font-size: 30px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .player-message__container {
    text-align: right;
    display: inline-block;
    padding: 2px 10px;
  }

  .grid__player-actions {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 5;
    grid-row-end: 6;
    flex-direction: row;
    justify-content: space-around;
  }

  .grid__surrender-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .btn-action {
    padding: 10px;
    font-size: 30px;
    min-width: 140px;
    color: white;
  }

  .btn-action__surrender {
    width: 140px;
    height: 65px;
  }

  .grid__split-stages-container {
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 6;
    grid-row-end: 7;
    flex-direction: row;
    justify-content: space-around;
  }

  .split-stage__hand-num {
    font-size: 20px;
    margin-left: 1px;
  }

  .split-stage__cards {
    padding: 0px 5px;
  }

  .split-stage-1__result {
    padding: 0px 1px;
  }

  .split-stage-2__result {
    padding: 0px 1px;
  }

  .split-stage-3__result {
    padding: 0px 1px;
  }

  .card {
    width: 90px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 11px;
  }

  .grid-container {
    grid-template-columns: 180px 300px 120px;
    grid-template-rows: 40px 135px 65px 135px 65px 205px;
    height: 705px;
  }
}
@media screen and (min-width: 480px) and (max-height: 420px) {
  html {
    font-size: 37.5%;
  }

  body {
    margin: 2% 2%;
  }

  .grid-container {
    grid-template-columns: auto auto auto auto 5%;
    grid-template-rows: 7% 7% auto auto auto;
  }

  .grid__system-btn-container {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-content: flex-start;
  }

  .grid__round-info {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .bank__label {
    margin-right: 1.5rem;
  }

  .grid__dealer-cards {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .grid__dealer-hand-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    flex-direction: column;
  }

  .grid__game-message {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .grid__player-hand-info {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: -1;
    flex-direction: column;
    align-items: center;
  }

  .grid__player-cards {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: -1;
  }

  .player-message__container {
    margin-right: 1rem;
  }

  .grid__split-stages-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: -1;
    flex-direction: column-reverse;
  }

  .grid__player-actions {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: -1;
    flex-direction: column;
    justify-content: space-between;
  }

  .grid__surrender-container {
    grid-column-start: 5;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: -1;
  }

  .btn-action {
    width: 20rem;
    padding: 2rem 2rem;
  }

  .btn-action__surrender {
    width: 3rem;
    height: 100%;
  }
}
@media screen and (min-width: 700px) and (max-height: 420px) {
  .grid-container {
    min-width: 650px;
    grid-template-columns: auto auto auto auto 5%;
    grid-template-rows: 7% 7% 100px 75px 100px;
  }

  .card {
    width: 8rem;
  }

  .btn-action {
    font-size: 30px;
  }

  .grid__surrender-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .btn-action__surrender {
    width: 20rem;
    height: 50%;
  }

  .grid__split-stages-container {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
  }

  .split-stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

/*# sourceMappingURL=style-2.css.map */
